*
{
    margin: 0;
    padding: 0;

}
.sg
{

    height: 500px;
    width: 100%;
}

.container{

    height: 414px;
    width: 72%;
    margin-top :20rem;
    margin-left: 20rem;
    border: 11px solid #D8D8D8;

}
#gauche
{
    height: 500px;
    width: 60%;
}
#bradley
{
    position: relative;
    height: 139px;
    width: 66%;
    background-color: lightgreen;
    text-align: left;
    color: white;

}
#text
{
    margin-left: 2rem;


}
#profile

{  background-color: yellow;
    height: 144px;
    width: 36%;
    margin-left: 24rem;
    margin-top:-141px;
    text-align: center;
    color: white;
}
#experience
{

    border: solid black 1px;

    height: 139px;
    width: 33%;
    float: left;
    background-color: blue;
    color: white;
    text-align: center;
}
#education
{


    height: 139px;
    width: 33%;
    margin-left: 12rem;
    background-color:red;
    color: white;
    text-align: center;
}


#blog
{


    height: 139px;
    width: 36%;
    margin-left: 24rem;
    margin-top:-141px;
    background-color: lightgreen;
    color: white;
    text-align: center;

}
#plus
{

    height: 139px;
    width: 36%;
    background-color: orange;
    text-align: center;
    color: white;

}
#contact
{

    height: 139px;
    width: 36%;
    margin-left: 12rem;
    margin-top: -138px;
    background-color: blue;
    color: white;
    text-align: center;
}
#portfolio
{

    height: 139px;
    width: 36%;
    background-color: orange;
    color: white;
    text-align: center;

}

#image
{
    background-image: url("homme.png");
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 37rem;
    margin-top: -9rem;
    height: 27rem;
    width: 30%;
    text-align: center;



}
i
{
    margin-top: 2rem;
    font-size:40px;
}

.resume {
    display: block;
    width: 100px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    background: transparent;
    color: white;
    border: 0.125rem solid #fff;

}
.contact
{
    display: block;
    width: 100px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    background: transparent;
    color: white;
    border: 0.125rem solid #fff;
    margin-left: 8rem;
   margin-top: -39px;
}
@media only screen and (max-width : 320px)
{
    #gauche
    {
        margin: 0;
        width: 76%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    div{ margin:0;

    }
    .display
    { margin: 0;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #bradley

    {   margin: 0;
        width: 130%;
        height: 32%;

    }
    #profile

    {margin: 0;
        width: 130%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
    #experience
    {

        margin: 0;
        width: 130%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #education
    {margin: 0;
        width: 130%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #image
    {
        margin: 0;
        width: 130%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #portfolio
    {
        margin: 0;
        width: 130%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
    #blog
    {
        margin: 0;
        width: 130%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #plus
    {
        margin: 0;
        width: 130%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #contact
    {

        margin: 0;
        width: 130%;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #portfolio{
        display: none;
    }
}
